{cover_enabled, true}.
{erl_opts, [debug_info]}.
{dialyzer, [{plt_extra_apps, []},
	{warnings, [unknown]}]}.
{deps, [{core,
	{git, "https://github.com/exograd/erl-core.git",
		{branch, "master"}}},
{sqlite,
	{git, "https://github.com/exograd/erl-sqlite.git",
		{branch, "master"}}}]}.

{shell, [{apps, [mimedb]}]}.
